html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body {
  font-family: "Open Sans", arial, tahoma, sans-serif;
  font-size: 14px;
  background: url("../images/background.png") repeat;
  line-height: 180%;
}
h1,
h2,
h3 {
  margin: 80px 0 14px 0;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.4em;
}
p {
  margin: 15px 0;
}
#header {
  background: url("../images/tile.png") repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  bottom: 0;
}
#main {
  padding: 50px 30px 100px 310px;
}
#main h1 {
  display: inline-block;
  font-family: "ChunkFive", impact, sans-serif;
  font-size: 60px;
  color: #e8ecc5;
  background: #171337;
  line-height: 64px;
}
#main h1:first-of-type {
  margin-top: 0;
}
#main .date {
  color: #e05822;
  font-family: "ChunkFive", impact, sans-serif;
  font-size: 30px;
}
#main .post {
  margin: 80px 30px 100px 30px;
  width: 600px;
}
#main #disqus {
  width: 630px;
  margin-top: 150px;
}
