body > footer
  display block
  position relative
  background black
  color #eee
  text-align center
  padding 8em 0 4em 0
  font-weight 100
  letter-spacing 0.1em

  p
    margin 0.5em 0

  // > div
  // > p
  // > section
  //   width 600px
  //   margin 0 auto