
centered-content(double=false)
  if (double)
    max-width content-side-width*2 + 60px // 60px margin between
  else
    max-width content-width + content-padding*2
  padding 0 content-padding 0 content-padding
  margin-left auto
  margin-right auto
  position relative


fontSmoothing(on=true)
  if (on)
    -webkit-font-smoothing subpixel-antialiased
    -moz-osx-font-smoothing auto
  else
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale