
centered-content(double=false)
  max-width content-width + 10px
  if (double)
    max-width content-width*2 + 60px // 60px margin between
  padding 0 10px 0 10px
  margin-left auto
  margin-right auto
  position relative

