body > header h1 br
  display none



/**
 * The default header on content sites
 */

body > header
  background main-color
  color white
  text-align center
  padding 2em 0
  h1
    font-size 2.4em
  a
    color white
    text-decoration none

/**
 * The nice big header with background image.
 */
body#site-home > header
  background black no-repeat center
  /*
  background-image url("/images/river_cover.jpg")
  background-image url("/images/rock_cover.jpg")
  background-image url("/images/sky_cover.jpg")
  background-image url("/images/lamp_cover.jpg")
  */

  background-size cover
  position relative
  perspective 600
  perspective-origin 50%

  &:before
    content " "
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    background black
    opacity 1
    transition opacity 0.6s linear
  
  &.image-loaded:before
    opacity 0
    
  

  h1
    font-family "BrandonGrotesque-Thin", Arial, sans-serif
    font-weight 100
    opacity 0
    display block
    color white
    text-shadow 1px 2px 0 rgba(0, 0, 0, 0.6)
    text-align center
    font-size 80px
    line-height 2
    height 80px
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    margin auto
    letter-spacing 0.9em

    padding-left 0.9em /* To account for letter spacing */

    transition letter-spacing 2s ease-out, transform 1s ease-out, opacity 0.2s linear
    
    transform-style preserve-3d
    transform rotatex(40deg)
    user-select none


    a
      // It's confusing otherwise. People will think that this is the entrance
      // to the site.
      cursor default
      pointer-events none


    &.relaxed
      opacity 1
      letter-spacing 1em
      transform rotatex(0deg)
    

  



@media (max-width: 1450px)
  body#site-home > header h1
    font-size 60px
  


@media (max-width: 1024px)
  body#site-home > header h1
    font-size 40px
  


@media (max-width: 768px)
  body > header h1
    font-size 30px
    br
      display block
    
  body#site-home > header h1
    font-size 30px
    height 120px

  

