body > header h1 br
  display none



/**
 * The default header on content sites
 */

body > header
  background main-color
  color white
  text-align center
  padding 2em 0
  h1
    font-size 2.4em
    // The wraping is done by the <br> in the middle of the header
    white-space nowrap
  span
    position relative
    display inline-block

  a
    color white
    text-decoration none


smallest-letter-distance = 0.15em

/**
 * The nice big header with background image.
 */
body#site-home
  
  &.header-loaded
    > header
      &:before
        opacity 0
      h1
        opacity 1
        // letter-spacing 1em
        transform rotatex(0deg)

        // In the @media query below there is another distribution
        span
          &:nth-of-type(1)
            transform translateX(-(smallest-letter-distance*5))
          &:nth-of-type(2)
            transform translateX(-(smallest-letter-distance*4))
          &:nth-of-type(3)
            transform translateX(-(smallest-letter-distance*3))
          &:nth-of-type(4)
            transform translateX(-(smallest-letter-distance*2))
          &:nth-of-type(5)
            transform translateX(-(smallest-letter-distance/2))

          &:nth-of-type(6)
            transform translateX((smallest-letter-distance/2))
          &:nth-of-type(7)
            transform translateX(smallest-letter-distance*2)
          &:nth-of-type(8)
            transform translateX(smallest-letter-distance*3)
          &:nth-of-type(9)
            transform translateX(smallest-letter-distance*4)
          &:nth-of-type(10)
            transform translateX(smallest-letter-distance*5)


  > header
    background black no-repeat center
    /*
    background-image url("/images/river_cover.jpg")
    background-image url("/images/rock_cover.jpg")
    background-image url("/images/sky_cover.jpg")
    background-image url("/images/lamp_cover.jpg")
    */

    background-size cover
    position relative
    perspective 600
    perspective-origin 50%

    &:before
      content " "
      position absolute
      top 0
      bottom 0
      left 0
      right 0
      background black
      opacity 1
      transition opacity 0.6s linear
    
      
    

    h1
      font-family "brandon-grotesque", Arial, sans-serif
      font-weight 100
      opacity 0
      display block
      color white
      text-shadow 1px 2px 0 rgba(0, 0, 0, 0.6)
      text-align center
      font-size 80px
      line-height 2
      height 80px
      position absolute
      top 0
      bottom 0
      left 0
      right 0
      margin auto
      letter-spacing 0.9em

      padding-left 0.9em /* To account for letter spacing */

      transition transform 1s ease-out, opacity 0.2s linear
      
      transform-style preserve-3d
      transform rotatex(40deg)
      user-select none

      // The spans are used to make the letters expand
      span
        transition transform 2s ease-out
        transform translateX(0)

      a
        // It's confusing otherwise. People will think that this is the entrance
        // to the site.
        cursor default
        pointer-events none


      

  



@media (max-width: 1450px)
  body#site-home > header h1
    font-size 60px
  


@media (max-width: 1024px)
  body#site-home > header h1
    font-size 40px
  


@media (max-width: 768px)
  body > header h1
    font-size 30px
    br
      display block


  body#site-home.header-loaded > header h1
    // Since there is a line break now, the letters have to be distributed
    // differently    
    font-weight 300
    span
      &:nth-of-type(1)
      &:nth-of-type(6)
        transform translateX(-(smallest-letter-distance*2))
      &:nth-of-type(2)
      &:nth-of-type(7)
        transform translateX(-(smallest-letter-distance*1))
      &:nth-of-type(3)
      &:nth-of-type(8)
        transform translateX(0)
      &:nth-of-type(4)
      &:nth-of-type(9)
        transform translateX((smallest-letter-distance*1))
      &:nth-of-type(5)
      &:nth-of-type(10)
        transform translateX((smallest-letter-distance*2))



  body#site-home > header h1
    font-size 30px
    height 120px

  

