@import "syntax"
@import "nib"



@import "functions"

main-color = #F34A53
content-width = 700px
content-side-width = 552px
content-padding = 20px // The padding on the sides


/* Global Reset */


*
  margin 0
  padding 0


html, body
  height 100% 

html
  font-size 18px
  // bigger font sizes are defined in the media queries
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight 200



*, *:before, *:after
  box-sizing border-box



body

  font-smoothing antialiased

  // background url("../images/background_tile.png") repeat center
  background #fcfcfc

  color #666

  max-width 100%
  overflow-x hidden



/**
 * Generic elements
 */
h1, h2, h3
  font-family "brandon-grotesque", Arial, sans-serif
  font-size 2em
  line-height 1.4
  font-weight 500
  letter-spacing 0.2em
  text-transform uppercase
  text-align center

  font-smoothing subpixel-antialiased


h2
  font-size 1.8em
h3
  font-size 1.5em


a
  color inherit

p
  a
    text-decoration none
    border-bottom 2px solid main-color
    &:hover
      border-bottom-color black


@media (max-width: 768px)
  h1
    font-size 2em
  h2
    font-size 1.8em
  h3
    font-size 1.4em

  ul, ol
    li
      list-style-position inside


aside
  font-family "calluna", serif
  line-height 1.8

code
  font-size 0.8em

p, ul, ol
  line-height 1.8
  margin 2em 0
  font-family "calluna", serif
  position relative

  code
    color main-color
    display inline-block
    border 1px solid main-color
    padding 0em 0.3em
    border-radius 2px
    margin 0 0.15em
    line-height 1.6em
    font-size 0.8em
    background rgba(main-color, 0.04)

blockquote
  margin 2em 0
  // border 3px solid main-color
  // border-left none
  // border-right none
  color main-color
  font-size 1.5em
  font-style italic

  p
    color @color
    text-align center
    margin 1em 0

/**
 * Basic layout
 */


#main
  padding-bottom 16em

@import "header"
@import "footer"

@import "site-home"
@import "site-post"



#main
  #disqus-container
    centered-content()
    margin-top 10em


.posts

  margin-top 1em
  margin-bottom @margin-top

  // padding 0 0.5em

  .post-preview
    margin 0 0 1em
    padding-bottom 5em
    padding-top 5em
    &:last-of-type
      margin-bottom 0em
      padding-bottom 3em

  header time, p, footer
    centered-content()


  header
    position relative

    margin-bottom 2em
    text-align center

    h1
      display inline-block
      color main-color
      padding 0 0.4em
      border-radius 2px
      a
        color @color
        text-decoration none



    time
      display block
    time span
      display block
      line-height 3em
      font-size 0.8rem
      color main-color
      font-family "brandon-grotesque", Arial, sans-serif
      font-weight 400
      text-transform uppercase
      padding-bottom 2em
      border-bottom 1px solid main-color


  footer
    text-align right

    a.disqus-count
      text-decoration none
      font-size 0.8em
      color #bbb
      float left
      line-height 1.5em
      &:hover
        color #666

    a.continue-reading
      transform-origin center top
      perspective 300
      display inline-block
      text-decoration none

      span
        transform-origin center top
        background main-color
        text-decoration none
        border-radius 2px
        color white
        font-family "brandon-grotesque", Arial, sans-serif
        font-weight 400
        text-transform uppercase
        padding 0 0.5em
        font-size 0.8em
        display inline-block
        // Light font on dark background needs to be subpixeled
        font-smoothing subpixel-antialiased

        display block
        opacity 0
        transform rotateY(-10deg) translateX(-10px)
        transition transform 60ms linear, opacity 60ms linear

  .post-preview:hover
    footer .continue-reading span
      opacity 1
      transition transform 400ms cubic-bezier(.22,1.38,.64,1.24), opacity 200ms linear
      transform rotateY(0) translateX(0px)


@media (max-width: 600px)
  .posts .post-preview .continue-reading
    span
      transform none
      opacity 1
      transition none

@media (min-width: 600px)
  html
    font-size 20px
@media (min-width: 1000px)
  html
    font-size 22px

