@import "syntax"
@import "nib"



@import "functions"

main-color = #F34A53
content-width = 552px

/* Global Reset */

@font-face
  font-family 'BrandonGrotesque-Thin'
  src url('/fonts/Brandon_thin.otf')


*
  margin 0
  padding 0


html, body
  height 100% 

html
  font-size 17px
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight 200



*, *:before, *:after
  box-sizing border-box



body

  background url("../images/background_tile.png") repeat center

  color #666


/**
 * Generic elements
 */
h1, h2, h3
  font-family "brandon-grotesque", Arial, sans-serif
  font-size 3em
  line-height 1.4
  font-weight 300
  letter-spacing 0.2em
  text-transform uppercase
  text-align center


h2
  font-size 2.8em
h3
  font-size 2em


a
  color inherit



@media (max-width: 768px)
  h1
    font-size 2em
  h2
    font-size 1.8em
  h3
    font-size 1.4em


p, ul, ol
  line-height 1.8
  margin 2em 0
  font-family "calluna", serif
  position relative


blockquote
  margin 2em 0
  border 3px solid main-color
  border-left none
  border-right none
  color main-color
  font-size 1.2em
  p
    color @color
    text-align center
    margin 1em 0

/**
 * Basic layout
 */


#main
  padding-top 5em
  padding-bottom 16em

@import "header"
@import "footer"

@import "site-home"
@import "site-post"



#main
  #disqus_thread
    centered-content()
    margin-top 10em


.posts

  centered-content()  
  margin 1em auto

  header
    padding-bottom 1px
    border-bottom 1px solid main-color
    position relative

    margin-bottom 3em

    h1
      background main-color
      color white
      padding 0 0.4em
      border-radius 2px
      a
        color @color
        text-decoration none



    time
      position absolute
      bottom -30px
      line-height 30px
      height 30px
      font-size 1rem
      color main-color
      font-family "brandon-grotesque", Arial, sans-serif
      font-weith 200
      text-transform uppercase




