@import "syntax"
@import "nib"



@import "functions"

main-color = #F34A53
content-width = 552px

/* Global Reset */

@font-face
  font-family 'BrandonGrotesque-Thin'
  src url('/fonts/Brandon_thin.otf')


*
  margin 0
  padding 0


html, body
  height 100% 

html
  font-size 16px
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight 200



*, *:before, *:after
  box-sizing border-box



body

  background url("../images/background_tile.png") repeat center



/**
 * Generic elements
 */
h1
  font-family "Brandon Grotesque", Arial, sans-serif
  font-size 2em
  line-height 1.4
  font-weight 100
  letter-spacing 0.2em
  text-transform uppercase


p
  line-height 1.8
  margin 2em 0


/**
 * Basic layout
 */


#main
  padding-top 5em
  padding-bottom 16em

@import "header"
@import "footer"

@import "site-home"
@import "site-post"



.posts

  centered-content()  
  margin 1em auto

  header
    padding-bottom 1px
    border-bottom 1px solid main-color
    position relative

    margin-bottom 3em

    h1
      background main-color
      color white
      padding 0 0.4em
      border-radius 2px
      a
        color @color
        text-decoration none



    time
      position absolute
      bottom -30px
      line-height 30px
      height 30px
      font-size 1rem
      color main-color
      font-family "Brandon Grotesque", Arial, sans-serif
      font-weith 100
      text-transform uppercase
