
#post

  margin 0 auto 1em

  header
    centered-content()
    margin-bottom 3em

    h1
      margin 0 0 0.5em 0
      background black
      color white
      padding 0 0.4em
      border-radius 2px
      font-weight 100



  h1, h2
    centered-content()

    font-weight 500
    margin 2em auto 1em auto

  p
    centered-content()

    img
      max-width 100%

