
#site-post
  header

    .links
      height 23rem

      h1
        margin-bottom 2em

      h2
        font-size 2.5em
        display inline-block
        margin 0 0 0.5em 0
        color white
        padding 0 0.4em
        border-radius 2px
        font-weight 600

      time 
        font-family "brandon-grotesque", Arial, sans-serif
        font-weight 400
        text-transform uppercase
        display block

    a#post-start
      position absolute
      bottom 1.5rem
      left 0



#post

  margin 0 auto 1em

  .content
    >
      p, blockquote, ul, ol, section, .backdrop > p, .highlight
        centered-content()

    .backdrop
      
      margin 10rem 0 4rem auto
      width 100%
      padding 4.5em 0
      text-shadow 0 1px 0 rgba(255, 255, 255, 0.6)
      background-repeat no-repeat
      background-position center
      background-size cover
      position relative

      aside.copyright
        position absolute
        font-size 0.8em
        color rgba(0, 0, 0, 0.3)
        text-align center

        // Centering it
        left 0.5em
        bottom 0.5em
        margin 0

      >
        h1, h2, h3, h4
          &:first-child
            margin-top 0


      > p:last-child
        margin-bottom 0

      &.dark 
        color white
        background-color #333
        a
          border-color white
        // Light font on dark background needs to be subpixeled
        fontSmoothing(true)
        text-shadow 0 1px 0 rgba(0, 0, 0, 0.4)

        aside.copyright
          color rgba(255, 255, 255, 0.3)

        code
          background rgba(243,74,83,0.40) // Needs to be a bit stronger


    h1, h2, h3

      color main-color

      margin 4em auto 2em auto


    img
      max-width 100%
      display block

    .embedded-video
      > div
        position relative
        width 100%
        &:after
          content ''
          padding-top 56.25%
          // 16:9 ratio
          display block

        iframe
          display block
          position absolute
          width 100%
          height 100%

    .side-by-side
      margin-top 2em
      margin-bottom 2em
      .side
        // The width is defined in the media queries

        > p:first-child
          margin-top 0
        > p:last-child
          margin-bottom 0
        > img
          display block
          margin auto

          opacity 1

          transition opacity 0.6s linear, transform 0.6s ease-out
          transform translateX(0)

          &.out-of-view
            opacity 0.3
            border none
            transform translateX(10px)
            transition none
        
        &:first-child
          > img.out-of-view
            transform translateX(-10px)


      clearfix()

    @media (max-width: 1200px)
      .side-by-side
        centered-content()

        .side
          margin 2em 0
          > img.out-of-view
            transform none !important
            opacity 1
            transition none
  
    @media (min-width: 1200px)
      // > div
      .backdrop
        padding 8em 0

      .side-by-side
        centered-content(true)
        .side
          max-width content-side-width - content-padding
          float left
          width content-width
          &:first-child
            margin-right 30px

          &:last-child
            margin-left 30px


