---
layout: default
title: Home
type: home
---



<section class="posts">

  {% for post in site.posts %}{% if post.invisible != true %}
    <article class="post-preview">
      <header>
        <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
        <time datetime="{{ post.date }}"><span>{{ post.date | date_to_string }}</span></time>
      </header>
      <p>
        {{ post.excerpt }}
      </p>
      <footer class="actions">
        <a class="disqus-count" href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.url }}"></a>
        <a class="continue-reading" href="{{ post.url }}">Continue reading &gt;</a>
      </footer>
    </article>
  {% endif %}{% endfor %}

</section>


<script type="text/javascript">
var disqus_shortname = 'colorglare';


(function () {
var s = document.createElement('script'); s.async = true;
s.type = 'text/javascript';
s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>