.image-comparison {
  background: #ff0069 !important;
  .side {
    text-align: center;
  }
  img {
    margin: 0 auto;
  }
  .good img {
    width: 330px;
    height: 160px;
  }
  .bad img {
    width: 297px;
    height: 159px;
  }
}