<!DOCTYPE html>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>COLORGLARE | {{ page.title }}</title>
<meta name="description" content="Blog about Design, Programming, Photography, Music and random stuff">
<meta name="author" content="Matias Meno">


<meta name="viewport" content="width=device-width">

<link rel="stylesheet" href="/css/main.css">

<script type="application/dart" src="scripts/main.dart"></script>
<script src="scripts/dart.js"></script>

<!-- Loading fonts -->
<script type="text/javascript" src="//use.typekit.net/oxu7pxt.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>



<body id="site-{{ page.type }}">

  <header data-image="/images/sea_cover.jpg">
    <h1><a href="/">COLOR<br>GLARE</a></h1>
  </header>

  <section id="main">

    {{ content }}

  </section>


  <footer>
    <p>Site created by Matias Meno.</p>
    <p>All images photographed and copyright by Matias Meno.</p>
  </footer>

</body>