<!DOCTYPE html>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>COLORGLARE | {{ page.title }}</title>
<meta name="description" content="A website about Design, Programming, Photography, Music and random stuff by Matias Meno">
<meta name="author" content="Matias Meno">


<link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">

<meta name="viewport" content="width=device-width">


<!--[if !(lt IE 9)]><!-->

<link rel="stylesheet" href="/css/main.css">

{% if page.stylesheet %}
<link rel="stylesheet" href="{{ page.stylesheet }}">
{% endif %}

<script type="application/dart" src="/scripts/main.dart"></script>
<script src="/scripts/dart.js"></script>

<!-- Loading fonts -->
<script type="text/javascript" src="//use.typekit.net/oxu7pxt.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
 
<!--<![endif]-->


<body id="site-{{ page.type }}">

  <header data-image="/images/sea_cover.jpg">
    <h1><a href="/"><span>C</span><span>O</span><span>L</span><span>O</span><span>R</span><br><span>G</span><span>L</span><span>A</span><span>R</span><span>E</span></a></h1>
  </header>

  <section id="main">

    {{ content }}

  </section>


  <footer>
    <p>Site created by Matias Meno.</p>
    <p>All images photographed and copyright by Matias Meno unless otherwise noted.</p>
    <a style="display: none;" href="https://plus.google.com/+MatiasMeno?rel=author">Google +</a>
  </footer>

</body>