<!DOCTYPE html>


<meta charset="utf-8">

<!-- For IE. Unfortunately this doesn't pass w3c validation. -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>COLORGLARE | {{ page.title }}</title>
<meta name="description" content="A website about Design, Programming, Photography, Music and random stuff by Matias Meno">
<meta name="author" content="Matias Meno">


<link rel="icon" type="image/png" href="http://www.colorglare.com/favicon.png">

<link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">

<meta name="viewport" content="width=device-width">


<!--[if !(lt IE 9)]><!-->

<link rel="stylesheet" href="/css/main.css?v5">

{% if page.stylesheet %}
<link rel="stylesheet" href="{{ page.stylesheet }}">
{% endif %}

<script type="application/dart" src="/scripts/main.dart"></script>
<script src="/scripts/dart.js"></script>

<!-- Loading fonts -->
<script type="text/javascript" src="//use.typekit.net/oxu7pxt.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
 
<!--<![endif]-->



<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47093297-1', 'colorglare.com');
  ga('send', 'pageview');
</script>


<body id="site-{{ page.type }}">

  <header data-image="/images/lamp_cover.jpg">
    <h1><a href="/">COLORGLARE</a></h1>
  </header>

  <section id="main">

    {{ content }}

  </section>


  <footer>
    <p>Site created by Matias Meno &lt;m@tias.me&gt;</p>
    <p>
      <a href="https://github.com/enyo/">GitHub</a> |
      <a href="https://twitter.com/matenyo">Twitter</a> |
      <a href="https://plus.google.com/+MatiasMeno?rel=author">Google+</a> |
      <a href="http://www.colorglare.com/feed.xml">RSS</a>
    </p>
    <p>All images photographed and copyright by Matias Meno unless otherwise noted</p>
  </footer>

</body>