@import "nib"

global-reset()

html5-reset()


body
  font-family "Open Sans", arial, tahoma, sans-serif
  font-size 14px
  background url("../images/background.png") repeat
  line-height 180%

h1
h2
h3
  margin 80px 0 14px 0

h1
  font-size 2em
h2
  font-size 1.6em
h3
  font-size 1.4em


p
  margin 15px 0

#header
  background url("../images/tile.png") repeat
  fixed top 0 left 0
  width 280px
  bottom 0

#main
  padding 50px 30px 100px 310px

  h1
    display inline-block
    font-family "ChunkFive", impact, sans-serif
    font-size 60px
    color #E8ECC5
    background #171337
    line-height @font-size + 4px
    // max-width 300px
    &:first-of-type
      margin-top 0
  .date
    color #E05822
    font-family "ChunkFive", impact, sans-serif
    font-size 30px

  .post
    margin 80px 30px 100px 30px
    width 600px

  #disqus
    width 630px
    margin-top 150px
