@import "nib"

global-reset()

html5-reset()


body
  font-family arial, tahoma, sans-serif
  font-size 14px


h1
h2
h3
  margin 14px 0

h1
  font-size 2em
h2
  font-size 1.6em
h3
  font-size 1.4em

#main
  width 978px
  margin 20px auto

